* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    }
    
    body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: silver;
    }

    .header a {
    position: relative;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 45px;
    }

    .header a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform: translateY(10px);
    transition: .5s;
    opacity: 0;
    }

    .header a:hover::after {
    transform: translateY(0);
    opacity: 1;
    }

    .header .button-login  {
    width: 70px;
    height: 20px;
    background: transparent;
    border: white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    transition: .5s;
    margin-right: 45px;
    }

    .header .button-login:hover {
    background: silver;
    color: black;
    }

    .header {
    top: 0;
    left: 0;
    padding: 20px 100px;
    z-index: 99;
    height: 80px;
    width: 100%;
    background-color: black;
    border-radius: 15px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    }

    .header .content {
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 500ms;
    color: #3f0082;
    font-size: 30px;
    user-select: none;
    }

    .header .content:hover {
    color: aqua;
    transition: 500ms;
    }
    .background{
        background-image: url(product\ bg.jpg);
        width: 100%;
        height:100vh;
        background-position: center;
    }
h2{
    color: white;
    padding-right: 450px;
    padding-left: 500px;
}
td{
    color: white;
}
